name: Down CI
on:
    issues:
        types: [opened]
permissions:
  issues: read
  contents: read
  actions: read
jobs:
    site_down:
        name: Send site is down notification
        if: ${{ !github.event.issue.pull_request }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install requirements
              run: |
               pip3 install -r ./Automation/requirements.txt
            - name: Run checkin
              run: |
               python3 ./Automation/main.py --issue_title "${{ github.event.issue.title }}" --issue_content "${{github.event.issue.body}}"
              env:
                PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
                SERVERCHAN_SENDKEY: ${{ secrets.SCKEY }}
                WECOM_TOKENS: ${{ secrets.WECOM_TOKENS }}
                WECOM_WEBHOOK: ${{ secrets.WECOM_WEBHOOK }}
                BARK_DEVICEKEY: ${{ secrets.BARK_DEVICEKEY }}
                FEISHU_DEVICEKEY: ${{ secrets.FEISHU_DEVICEKEY }}
            - name: Send Incident to Statuspage
              run: |
                python3 ./Automation/incident.py --token "${{secrets.AUTH_TOKEN}}" --url "${{secrets.INCIDENT_API}}" --title "${{github.event.issue.title}}" --content "${{github.event.issue.body}}" --status "open"
            - uses: gautamkrishnar/keepalive-workflow@master

